.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgb(231, 50, 50);
  border-radius: 8px;
  margin: 20px;
  max-width: 80%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.modal-header-container {
  background-color: rgb(164, 27, 27);
  padding: 20px;
}
.modal-header {
  margin: 0;
  font-size: 30px;
  color: white;
}

.close-button {
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.modal-content {
  margin: 20px;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: center;
}
